.history-item {
    display: flex;
    gap: 9px;
    margin-bottom: 10px;
}

.history-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
}

.history-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 10px;
    width: 50px;
    height: 51px;
    background: #f0f6f5;
}

.history-name {
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.history-date {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 13px;
    color: #666;
}

.history-price {
    font-weight: 600;
    font-size: 18px;
}

.price-income {
    color: #25a969;
}

.price-expense {
    color: #f95b51;
}